<div>
  <h2>FirstComponent</h2>
  <p>Ceci est mon premier composant</p>
  <!-- <div *ngIf="showRandomly(0.5)">
    <h1>Hello!</h1>
  </div> -->
  <ul>
    <li *ngFor="let product of products">
      <h2>{{ product.name }} / {{ product.price | currency: "CAD" }}</h2>
      <p>{{ product.description }}</p>
    </li>
  </ul>
  <ul>
    <li *ngFor="let user of users">
      <h2>{{ user.email }} - {{ user.gender }}</h2>
    </li>
  </ul>
  <p>Nous somme le {{ today | date: "d MMMM y" }}</p>
  <app-event (clickOnButton)="catchEvent($event)"></app-event>

  <p appHighlight>Highlight me!</p>

  <img
    [src]="
      imageUrl
        | defaultimg
          : 'https://cdn.pixabay.com/photo/2016/08/09/21/54/yellowstone-national-park-1581879_960_720.jpg'
    "
  />
</div>
