<div class="row">
  <div class="col-sm-10 custom-row jumbotron">
    <form novalidate (ngSubmit)="login(loginForm)" #loginForm="ngForm">
      <fieldset>
        <legend>Login</legend>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-9">
            <input
              class="form-control"
              name="email"
              placeholder="Email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Password:</label>
          <div class="col-lg-9">
            <input
              class="form-control"
              name="password"
              type="password"
              placeholder="Password"
              required
            />
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!loginForm.form.valid"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
